:root {
    --pale-violet: hsl(276, 100%, 81%);
    --text-chat-left: hsl(276, 55%, 52%);
    --text-chat-right: hsl(271, 15%, 43%);
    --text-placeholder: hsl(206, 6%, 79%);
    --main-heading: hsl(271, 36%, 24%);
    --paragraph: hsl(270, 7%, 64%);
    --light-magenta: hsl(293, 100%, 63%);
    --light-violet: hsl(264, 100%, 61%);
    --white: hsl(0, 0%, 100%);
    --background-app: hsl(270, 20%, 96%);
    --submit-button: hsl(271, 36%, 24%);
    --radio-button-outline: hsl(289, 100%, 72%);
}

@font-face {
    font-family: "Rubik";
    src: url("assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Rubik, serif;
    background-color: var(--background-app);
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/*
 Helper Classes
*/

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-x-2 > *:not(:last-child) {
    margin-right: 2rem;
}
.space-x-4 > *:not(:last-child) {
    margin-right: 4rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-4 {
    margin-top: 4rem;
}

/*
    Project Specific CSS
*/

.curve {
    position: absolute;
    z-index: -1;
    --bottom-radius: 800px;
    height: 80vh;
    width: 35vw;
    transform: translateX(-10vw);
    background: linear-gradient(to bottom, var(--light-magenta), var(--light-violet));
    border-radius: 0 0 var(--bottom-radius) var(--bottom-radius);
}

.div-title {
    margin-left: 35vw;
    padding-top: 20vh;
}

.div-title > h1 {
    color: var(--main-heading);
    font-weight: bold;
    margin-bottom: 1.1rem;
}

.div-title > p {
    color: var(--paragraph);
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 3rem;
}

.custom-input {
    background-color: var(--white);
    border-radius: 1.5rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    flex: 1;
}

.custom-input > input {
    outline: none;
    border: none;
    color: hsl(270, 20%, 80%);
    font-size: 1rem;
    width: 100%;
}

.custom-input > input::placeholder {
    outline: none;
    border: none;
    color: hsl(270, 20%, 80%);
}

.input-container {
    display: flex;
    justify-content: space-between;
    padding-right: 6rem;
}

#submit-button {
    background-color: var(--light-violet);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 0.3rem;
    font-family: Rubik, serif;
    width: 7rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

#submit-button:hover, #submit-button:focus {
    box-shadow: 0 0 0.8rem var(--light-magenta);
}

#div-short-url {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 1.6rem;
    background: linear-gradient(to bottom, var(--light-magenta), var(--light-violet));
    width: fit-content;
    padding: 1rem;
    border-radius: 1rem;
}

#div-short-url > button {
    background-color: var(--white);
    color: var(--main-heading);
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 0.3rem;
    font-family: Rubik, serif;
    width: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#div-short-url > button:active {
    box-shadow: 0 0 2rem 0.4rem var(--pale-violet);
}

